.single-service {
  height: 300px;
  background: #132347;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 2px solid #7865ff;
  transition: 0.3s;
}
.single-service:hover {
  transform: translateY(-15px);
}
.single-service h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-top: 15px;
}
.single-service p {
  font-weight: 300;
  line-height: 30px;
}

.service-icon {
  color: #7865ff;
  font-size: 2.2rem;
}

.service-top h6 {
  color: #7865ff;
  margin-bottom: 15px;
}

/* For responsiveness */
@media screen and (max-width: 992px) {
  .single-service {
    margin-bottom: 2rem;
  }
  .single-service h2 {
    font-size: 1.3rem;
  }

  .single-service p {
    font-size: 0.8rem;
    line-height: 28px;
  }
}
