.single-testi {
  padding: 30px;
}
.single-testi p {
  margin-bottom: 15px;
}

.single-testi h6 {
  margin-bottom: 10px;
  color: #7865ff;
  font-size: 1.1rem;
  font-weight: 500;
}

.single-testi .comp {
  font-weight: 300 !important;
  font-size: 0.9rem;
}

/* For Responsiveness  */

@media screen and (max-width: 992px) {
  .single-testi {
    font-size: 0.8rem;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .slide {
    overflow: hidden;
  }
}
