.header {
  width: 100%;
  height: 80px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111111;
}
.header.active {
  background: #132347;
  box-shadow: 2px 2px 4px -2px #7765ffbd;
}
/* For text decoration offing */
.logo {
  text-decoration: none;
}
.a {
  text-decoration: none;
}

.logo h5 {
  font-size: 1.3rem;
  color: #7865ff;
}

.nav-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav-item {
  color: #fff;
  transition: 0.3s;
  font-weight: 400;
  cursor: pointer;
}

.nav-item .a:hover {
  color: #7865ff;
}

.btn {
  background: #7865ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 25px;
}
.btn:hover {
  color: #fff;
}

.mobile-menu {
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

/* For the responsiveness */

@media screen and (max-width: 992px) {
  .header {
    height: 60px;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7765ff69;
    z-index: 88888;
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #132347;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  /* .menu-active {
    display: block;
  } */
  .mobile-menu {
    display: block;
    cursor: pointer;
  }
  .btn {
    display: none;
  }
}
