.about_info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about_box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
  padding: 1rem 1rem;
}
.about_icon {
  font-size: 1.4rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}
.about_title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.about_subtitle {
  font-size: var(--small-font-size);
}
.about_desc {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
}

/** For large devices */
@media screen and (max-width: 992px) {
  .about_box {
    padding: 0.75rem 0.5rem;
  }
  .about_desc {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/** For medium devices */
@media screen and (max-width: 576px) {
  .about_desc {
    padding: 0;
  }
  .about_info {
    grid-template-columns: repeat(2, 1fr);
  }
}

/** For small devices */
@media screen and (max-width: 350px) {
  .about_info {
    grid-template-columns: repeat(2, 1fr);
  }
}
